@font-face {
    font-family: 'Ringbearer';
    src: url('Fonts/RingbearerMedium-51mgZ.ttf') format('truetype');
}
/* Reset and general styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ringbearer', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container {
    display: flex; /* Use flexbox */
}

.nationbar, .infopage {
    display: flex;
}

/* Map */
.map {
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: 6px ridge black;
} .map img {
    top: 0;
    width: 100%;
    height: 95%;
} .map_underlay {
    z-index: 0;
} .map_overlay {
    z-index: 1;
}

.hidden {
    display: none;
}
.activebtn {
    color: white;
    background-image: url(Backgrounds/Obsidian_Background.jpg)!important;
}

/* Button zone */
.nationbar {
    flex-wrap: wrap;
    height: 40%;
    background-image: url(Backgrounds/Spruce_Background.jpg);
    align-content: flex-start;
    flex-grow: 1;
} .nationbtn {
    cursor: pointer;
    flex: 1 0 1%;
    padding: 15px;
    margin: 3px;
    font-size: large;
    font-weight: bolder;
    background-image: url(Backgrounds/Stone_Background.jpg);
    border: solid black;
} .nationbtn:active {
    background-image: url(Backgrounds/Blackstone_Background.jpg);
}

/* National Page Information */
.nationinfo {
    width: 70%;
    height: 100vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.nationpage {
    padding: 2% 1% 0% 1%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    align-items: center;
    height: 6vh;
    border-bottom: solid;
} .title p {
    font-size: 6.3vh;
    padding: 1.2vh 1vh 1vh 1vh;
    font-weight: bolder;
    flex: 1;
    margin: 0;
} .title img {
    float: right;
    height: 6vh;
}

.pagenav {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
} .pagebtn {
    cursor: pointer;
    flex: 1 0 20%;
    flex-basis: 20%;
    padding: .4vh;
    margin: .5vh;
    font-size: larger;
    background-image: url(Backgrounds/Stone_Background.jpg);
    border: solid black;
} .pagebtn:active {
    background-image: url(Backgrounds/Blackstone_Background.jpg);
}

.infopage {
    width: 100%;
    flex: 1;
}
.image {
    float: right;
    height: 300px;
}

/* Infopage content sections */
#history h2 {
    font-size: 2vh;
    text-align: center;
    padding: 1%;
} #history p {
    padding: 0 1%;
    font-size: 1.7vh;
    text-align: center;
} #history img {
    padding: 1% 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#players h1 {
    margin: .2%;
} #players h2 {
    margin-top: 1%;
} #players .profile {
    float: right;
    max-width: 20%;
    padding-top: 1.5%;
} #players .list {
    list-style-type: circle;
} #players div {
    width: 100%;
}
#economy h2 {
    margin-top: 1%;
} #economy .ad {
    margin: 1%;
    padding: 1%;
    background-color: white;
    border: 5px solid black;
    border-radius: 25px;
}

/* Collapsible section */
.collapsible {
    margin-bottom: 1vh;
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-bottom: groove black;
    text-align: left;
    font-size: 2vh;
} .active, .collapsible:hover {
    background-color: #555;
} .active + .content {
    max-height: 50vh;
} .content {
    margin-bottom: 1vh;
    font-size: 1.7vh;
    padding: 0 3%;
    background-color: #f1f1f1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}